body{
 background-image: url(images\ \(3\).jpeg);
   background-size: cover;
}

h1{
    background-color: aqua;
    color: black;
    text-align: center;
    padding: 20px;

}

p{
    color: aliceblue;
    background-color: black;
    text-size-adjust: 5px;
    
}

.peshawar{
    font-size: xx-large;
    margin-top: 30px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    border: 5px;
    padding: 5px;
}